{% extends 'base.html' %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Book List{% endblock %}

{% block content %}
<h2 class="mb-4">Book List</h2>
<div class="row">
    <!-- Filters -->
    <div class="col-md-12">
        <div class="card p-3 mb-4">
            <form method="get" hx-get="/books/" hx-target="#table-container" hx-swap="outerHTML">
                {% crispy filter.form %}
            </form>
        </div>
    </div>
    <!-- Table -->
    <div id="table-container" class="col-md-12">
        {% render_table table %}
    </div>
</div>
{% endblock %}